Checks: >
    '-*,
     bugprone-*,
       -bugprone-branch-clone,
       -bugprone-casting-through-void,
       -bugprone-easily-swappable-parameters,
       -bugprone-exception-escape,
       -bugprone-implicit-widening-of-multiplication-result,
       -bugprone-multi-level-implicit-pointer-conversion,
     clang-analyzer-*,
       -clang-analyzer-optin.mpi.MPI-Checker,
     clang-diagnostic-*,
       -clang-diagnostic-deprecated-declarations,
     cppcoreguidelines-*,
       -cppcoreguidelines-avoid-c-arrays,
       -cppcoreguidelines-avoid-do-while,
       -cppcoreguidelines-avoid-magic-numbers,
       -cppcoreguidelines-avoid-non-const-global-variables,
       -cppcoreguidelines-init-variables,
       -cppcoreguidelines-interfaces-global-init,
       -cppcoreguidelines-macro-to-enum,
       -cppcoreguidelines-macro-usage,
       -cppcoreguidelines-no-malloc,
       -cppcoreguidelines-non-private-member-variables-in-classes,
       -cppcoreguidelines-owning-memory,
       -cppcoreguidelines-pro-*,
       -cppcoreguidelines-use-enum-class,
     google-build-explicit-make-pair,
     google-build-namespaces,
     google-global-names-in-headers,
     misc-*,
       -misc-const-correctness,
       -misc-include-cleaner,
       -misc-non-private-member-variables-in-classes,
       -misc-no-recursion,
       -misc-use-internal-linkage,
     modernize-*,
       -modernize-avoid-c-arrays,
       -modernize-macro-to-enum,
       -modernize-return-braced-init-list,
       -modernize-use-constraints,
       -modernize-use-designated-initializers,
       -modernize-use-integer-sign-comparison,
       -modernize-use-ranges,
       -modernize-use-starts-ends-with,
       -modernize-use-std-numbers,
       -modernize-use-trailing-return-type,
     performance-*,
       -performance-enum-size,
     portability-*,
       -portability-avoid-pragma-once,
       -portability-template-virtual-member-function,
     readability-*,
       -readability-avoid-nested-conditional-operator,
       -readability-avoid-unconditional-preprocessor-if,
       -readability-container-contains,
       -readability-else-after-return,
       -readability-function-cognitive-complexity,
       -readability-function-size,
       -readability-identifier-length,
       -readability-implicit-bool-conversion,
       -readability-isolate-declaration,
       -readability-magic-numbers,
       -readability-math-missing-parentheses,
       -readability-named-parameter,
       -readability-redundant-casting,
       -readability-redundant-member-init,
       -readability-static-accessed-through-instance,
       -readability-simplify-boolean-expr,
       -readability-use-concise-preprocessor-directives,
       -readability-use-std-min-max,
     mpi-*
    '

# Files not ending with nolint.H will be filtered in.
HeaderFilterRegex: '([^n].....|[^o]....|[^l]...|[^i]..|[^n].|[^t])\.H$'

# Only available in clang-tidy >= 17
HeaderFileExtensions: ['', "H", 'h', 'hh', 'hpp', 'hxx']

# We will try to modernize this after switching to C++20
# -modernize-use-constraints
# -modernize-use-designated-initializers
# -modernize-use-std-numbers
# -modernize-use-ranges
# -modernize-use-integer-sign-comparison
# -modernize-use-starts-ends-with
# -readability-container-contains
