Checks: >
    '-*,
     bugprone-*,
       -bugprone-branch-clone,
       -bugprone-easily-swappable-parameters,
       -bugprone-exception-escape,
       -bugprone-implicit-widening-of-multiplication-result,
     clang-analyzer-*,
       -clang-analyzer-optin.mpi.MPI-Checker,
     clang-diagnostic-*,
     cppcoreguidelines-*,
       -cppcoreguidelines-avoid-c-arrays,
       -cppcoreguidelines-avoid-do-while,
       -cppcoreguidelines-avoid-magic-numbers,
       -cppcoreguidelines-avoid-non-const-global-variables,
       -cppcoreguidelines-init-variables,
       -cppcoreguidelines-interfaces-global-init,
       -cppcoreguidelines-macro-usage,
       -cppcoreguidelines-no-malloc,
       -cppcoreguidelines-non-private-member-variables-in-classes,
       -cppcoreguidelines-owning-memory,
       -cppcoreguidelines-pro-*,
     google-build-explicit-make-pair,
     google-build-namespaces,
     google-global-names-in-headers,
     misc-*,
       -misc-const-correctness,
       -misc-include-cleaner,
       -misc-non-private-member-variables-in-classes,
       -misc-no-recursion,
     modernize-*,
       -modernize-avoid-c-arrays,
       -modernize-macro-to-enum,
       -modernize-return-braced-init-list,
       -modernize-use-trailing-return-type,
     performance-*,
     portability-*,
     readability-*,
       -readability-avoid-unconditional-preprocessor-if,
       -readability-else-after-return,
       -readability-function-cognitive-complexity,
       -readability-function-size,
       -readability-identifier-length,
       -readability-implicit-bool-conversion,
       -readability-isolate-declaration,
       -readability-magic-numbers,
       -readability-named-parameter,
       -readability-simplify-boolean-expr,
     mpi-*
    '

# Files not ending with nolint.H will be filtered in.
HeaderFilterRegex: '([^n].....|[^o]....|[^l]...|[^i]..|[^n].|[^t])\.H$'

# Only available in clang-tidy >= 17
HeaderFileExtensions: ['', "H", 'h', 'hh', 'hpp', 'hxx']
