Checks: >
    '-*,
     bugprone-*,
       -bugprone-easily-swappable-parameters,
       -bugprone-exception-escape,
       -bugprone-implicit-widening-of-multiplication-result,
     clang-analyzer-*,
       -clang-analyzer-optin.mpi.MPI-Checker,
     clang-diagnostic-*,
     cppcoreguidelines-*,
       -cppcoreguidelines-avoid-c-arrays,
       -cppcoreguidelines-avoid-goto,
       -cppcoreguidelines-avoid-magic-numbers,
       -cppcoreguidelines-avoid-non-const-global-variables,
       -cppcoreguidelines-init-variables,
       -cppcoreguidelines-interfaces-global-init,
       -cppcoreguidelines-macro-usage,
       -cppcoreguidelines-no-malloc,
       -cppcoreguidelines-non-private-member-variables-in-classes,
       -cppcoreguidelines-owning-memory,
       -cppcoreguidelines-pro-*,
     modernize-*,
       -modernize-avoid-c-arrays,
       -modernize-return-braced-init-list,
       -modernize-use-trailing-return-type,
       -modernize-use-using,
     performance-*,
     readability-*,
       -readability-braces-around-statements,
       -readability-container-data-pointer,
       -readability-else-after-return,
       -readability-function-cognitive-complexity,
       -readability-function-size,
       -readability-identifier-length,
       -readability-implicit-bool-conversion,
       -readability-isolate-declaration,
       -readability-magic-numbers,
       -readability-named-parameter,
       -readability-simplify-boolean-expr,
     mpi-*
    '

HeaderFilterRegex: '[^n][^o][^l][^i][^n][^t]\.H$'
