Andrew Myers <atmyers@lbl.gov>               Andrew Myers <atmyers2@gmail.com>
Andrew Myers <atmyers@lbl.gov>               atmyers <atmyers2@gmail.com>
Aurore Blelly <ablelly@lbl.gov>              ablelly <aurore.blelly@ensta-paristech.fr>
Aurore Blelly <ablelly@lbl.gov>              ablelly <48810880+ablelly@users.noreply.github.com>
Axel Huebl <axelhuebl@lbl.gov>               Axel Huebl <axel.huebl@plasma.ninja>
David Bizzozero <dbizzozero@lbl.gov>         dbizzozero <dbizzozero@users.noreply.github.com>
David Grote <dpgrote@lbl.gov>                grote <dpgrote@lbl.gov>
David Grote <dpgrote@lbl.gov>                Dave <grote1@llnl.gov>
David Grote <dpgrote@lbl.gov>                Dave Grote <grote1@llnl.gov>
David Grote <dpgrote@lbl.gov>                Grote <grote1@n9459722.llnl.gov>
Edoardo Zoni <ezoni@lbl.gov>                 Edoardo Zoni <edoardo.zoni@ipp.mpg.de>
Edoardo Zoni <ezoni@lbl.gov>                 Edoardo Zoni <59625522+EZoni@users.noreply.github.com>
Glenn Richardson <gtrichardson@berkeley.edu> gtrichardson <gtrichardson@berkeley.edu>
Jaehong Park <jaehongpark@lbl.gov>           jaehongp <jaehong@jaehongs-mbp-10.attlocal.net>
Jean-Luc Vay <jlvay@lbl.gov>                 Jean-Luc Vay <jlvay@Jean-Lucs-MacBook-Pro.local>
Jean-Luc Vay <jlvay@lbl.gov>                 Jean-Luc Vay <jlvay@Jean-Lucs-MBP.dhcp.lbnl.us>
Jean-Luc Vay <jlvay@lbl.gov>                 Jean-Luc Vay <jlvay@jlvay2.lbl.gov>
Junmin Gu <jgu@lbl.gov>                      guj <guj@users.noreply.github.com>
Ligia Diana Amorim <ldianaamorim@lbl.gov>    L. Diana Amorim <LDianaAmorim@lbl.gov>
Ligia Diana Amorim <ldianaamorim@lbl.gov>    Diana Amorim <diana@henrivincenti.dhcp.lbl.gov>
Ligia Diana Amorim <ldianaamorim@lbl.gov>    Ligia Diana Amorim <ligiada@cori01.nersc.gov>
Ligia Diana Amorim <ldianaamorim@lbl.gov>    Ligia Diana Amorim <ligiada@cori11.nersc.gov>
Lixin Ge <lge@slac.stanford.edu>             lixin <lge@slac.stanford.edu>
Luca Fedeli <luca.fedeli@cea.fr>             Luca Fedeli <luca.fedeli.88@gmail.com>
Luca Fedeli <luca.fedeli@cea.fr>             lucafedeli88 <luca.fedeli@cea.fr>
Luca Fedeli <luca.fedeli@cea.fr>             Luca Fedeli <luca@DEB.station>
Luca Fedeli <luca.fedeli@cea.fr>             Luca Fedeli <luca.fedeli@for.unipi.it>
Luca Fedeli <luca.fedeli@cea.fr>             Luca <luca@localhost.localdomain>
Kevin Gott <kngott@lbl.gov>                  kngott <30483578+kngott@users.noreply.github.com>
Mathieu Lobet <mathieu.lobet@cea.fr>         Mathieu Lobet <mathieu.lobet@gmail.com>
Mathieu Lobet <mathieu.lobet@cea.fr>         mathieu_lobet <mathieu.lobet@gmail.com>
Maxence Thevenet <mthevenet@lbl.gov>         MaxThevenet <mthevenet@lbl.gov>
Maxence Thevenet <mthevenet@lbl.gov>         Maxence Thévenet <mthevenet@lbl.gov>
Maxence Thevenet <mthevenet@lbl.gov>         mthevenet <mthevenet@lbl.gov>
Remi Lehe <rlehe@lbl.gov>                    Remi Lehe <remi.lehe@normalesup.org>
Revathi Jambunathan <rjambunathan@lbl.gov>   RevathiJambunathan <revanathan@gmail.com>
Revathi Jambunathan <rjambunathan@lbl.gov>   RevathiJambunathan <rjnathan@cori12.nersc.gov>
Revathi Jambunathan <rjambunathan@lbl.gov>   Revathi Jambunathan <revanathan@login2.summit.olcf.ornl.gov>
Revathi Jambunathan <rjambunathan@lbl.gov>   Revathi Jambunathan <revanathan@login3.summit.olcf.ornl.gov>
Revathi Jambunathan <rjambunathan@lbl.gov>   Revathi Jambunathan <revanathan@login4.summit.olcf.ornl.gov>
Revathi Jambunathan <rjambunathan@lbl.gov>   Revathi Jambunathan <revanathan@login5.summit.olcf.ornl.gov>
Revathi Jambunathan <rjambunathan@lbl.gov>   Revathi Jambunathan <41089244+RevathiJambunathan@users.noreply.github.com>
Revathi Jambunathan <rjambunathan@lbl.gov>   Revathi Jambunathan <rjnathan@cori12.nersc.gov>
Weiqun Zhang <weiqunzhang@lbl.gov>           Weiqun Zhang <WeiqunZhang@lbl.gov>
Weiqun Zhang <weiqunzhang@lbl.gov>           WeiqunZhang <WeiqunZhang@lbl.gov
Yinjian Zhao <yinjianzhao@lbl.gov>           Yin-YinjianZhao <yinjianzhao@lbl.gov>
Yinjian Zhao <yinjianzhao@lbl.gov>           Yin-YinjianZhao <56095356+Yin-YinjianZhao@users.noreply.github.com>
