dist: xenial

language: python

python:
  - "3.7-dev"

before_install:
  - export PATH=$(echo $PATH | tr ':' "\n" | sed '/\/opt\/python/d' | tr "\n" ":" | sed "s|::|:|g")

addons:
   apt: 
      packages:
      - mpich
      - libmpich-dev
      - g++
      - gfortran
      - libgmp-dev
      - libmpfr-dev
      - pandoc
      - doxygen
      - texlive
      - texlive-latex-extra
      - texlive-lang-cjk
      - latexmk

install:
  - pip install sphinx sphinx_rtd_theme breathe

script: bash ./build_and_deploy.sh

env:
  global:
  - COMMIT_AUTHOR_EMAIL: "atmyers@lbl.gov"

