language: generic

python:
  - "3.6"

before_install:
  - sudo add-apt-repository -y ppa:deadsnakes/ppa
  - sudo apt-get update
  - sudo apt-get install -y mpich2 gfortran python3.6 python3.6-venv texlive texlive-latex-extra texlive-lang-cjk latexmk

install:
  - pyenv global 3.6
  - pip install --user sphinx sphinx_rtd_theme

script: bash ./build_and_deploy.sh

env:
  global:
  - COMMIT_AUTHOR_EMAIL: "atmyers@lbl.gov"

addons:
  apt:
    packages:
      - doxygen
