name: hip

on: [push, pull_request]

jobs:
  # MPI_C is broken since HIP 4.1
  # https://gitlab.kitware.com/cmake/cmake/-/issues/21968
  # https://github.com/ROCm-Developer-Tools/HIP/issues/2246
  tests-hip:
    name: HIP ROCm GFortran@9.3 C++17 [tests]
    runs-on: ubuntu-20.04
    # Have to have -Wno-deprecated-declarations due to deprecated atomicAddNoRet
    # Have to have -Wno-gnu-zero-variadic-macro-arguments to avoid
    #    amrex/Src/Base/AMReX_GpuLaunchGlobal.H:15:5: error: must specify at least one argument for '...' parameter of variadic macro [-Werror,-Wgnu-zero-variadic-macro-arguments]
    #        __launch_bounds__(amrex_launch_bounds_max_threads)
    #        ^
    #    /opt/rocm-4.1.1/hip/include/hip/hcc_detail/hip_runtime.h:178:71: note: expanded from macro '__launch_bounds__'
    #        select_impl_(__VA_ARGS__, launch_bounds_impl1, launch_bounds_impl0)(__VA_ARGS__)
    #                                                                          ^
    #    /opt/rocm-4.1.1/hip/include/hip/hcc_detail/hip_runtime.h:176:9: note: macro 'select_impl_' defined here
    #    #define select_impl_(_1, _2, impl_, ...) impl_
    env: {CXXFLAGS: "-fno-operator-names -Werror -Wall -Wextra -Wpedantic -Wnull-dereference -Wfloat-conversion -Wshadow -Woverloaded-virtual -Wextra-semi -Wunreachable-code -Wno-deprecated-declarations -Wno-gnu-zero-variadic-macro-arguments"}
    steps:
    - uses: actions/checkout@v2
    - name: Dependencies
      run: .github/workflows/dependencies/dependencies_hip.sh
    - name: Build & Install
      run: |
        source /etc/profile.d/rocm.sh
        hipcc --version
        cmake -S . -B build_full                          \
            -DCMAKE_VERBOSE_MAKEFILE=ON                   \
            -DAMReX_ENABLE_TESTS=ON                       \
            -DAMReX_PARTICLES=ON                          \
            -DAMReX_FORTRAN=ON                            \
            -DAMReX_LINEAR_SOLVERS=ON                     \
            -DAMReX_GPU_BACKEND=HIP                       \
            -DAMReX_AMD_ARCH=gfx908                       \
            -DCMAKE_C_COMPILER=$(which clang)             \
            -DCMAKE_CXX_COMPILER=$(which hipcc)           \
            -DCMAKE_Fortran_COMPILER=$(which gfortran)    \
            -DCMAKE_CXX_STANDARD=17
        cmake --build build_full -j 2
        cmake -S . -B build_nofortran                     \
            -DCMAKE_VERBOSE_MAKEFILE=ON                   \
            -DAMReX_ENABLE_TESTS=ON                       \
            -DAMReX_PARTICLES=ON                          \
            -DAMReX_FORTRAN=OFF                           \
            -DAMReX_LINEAR_SOLVERS=ON                     \
            -DAMReX_GPU_BACKEND=HIP                       \
            -DAMReX_AMD_ARCH=gfx908                       \
            -DCMAKE_C_COMPILER=$(which clang)             \
            -DCMAKE_CXX_COMPILER=$(which hipcc)           \
            -DCMAKE_Fortran_COMPILER=$(which gfortran)    \
            -DCMAKE_CXX_STANDARD=17
        cmake --build build_nofortran -j 2

  # Build 2D libamrex hip build with configure
  configure-2d-single-hip:
    name: HIP EB [configure 2D]
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Dependencies
      run: .github/workflows/dependencies/dependencies_hip.sh
    - name: Build & Install
      run: |
        ./configure --dim 2 --with-hip yes --enable-eb yes --enable-xsdk-defaults yes --with-mpi no --with-omp no --single-precision yes --single-precision-particles yes
        make -j2 WARN_ALL=TRUE XTRA_CXXFLAGS="-fno-operator-names"
        make install
