name: PETSc

on: [push, pull_request]

concurrency:
  group: ${{ github.ref }}-${{ github.head_ref }}-petsc
  cancel-in-progress: true

jobs:
  test-petsc-cpu-2d:
    name: GCC 2D EB PETSc@3.18.1
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Dependencies
      run: |
        .github/workflows/dependencies/dependencies.sh
        .github/workflows/dependencies/dependencies_clang-tidy.sh 14
        .github/workflows/dependencies/dependencies_ccache.sh
    - name: Set Up Cache
      uses: actions/cache@v4
      with:
        path: ~/.cache/ccache
        key: ccache-${{ github.workflow }}-${{ github.job }}-git-${{ github.sha }}
        restore-keys: |
             ccache-${{ github.workflow }}-${{ github.job }}-git-
    - name: Build PETSc
      run: |
        wget -q https://github.com/petsc/petsc/archive/refs/tags/v3.18.1.tar.gz
        tar xfz v3.18.1.tar.gz
        cd petsc-3.18.1
        export PETSC_DIR=${PWD}
        ./configure --prefix=${PWD}/petsc
        make -j 4
        make install
        cd ../
    - name: Build and Run Test
      run: |
        export CCACHE_COMPRESS=1
        export CCACHE_COMPRESSLEVEL=10
        export CCACHE_MAXSIZE=90M
        export CCACHE_EXTRAFILES=${{ github.workspace }}/.clang-tidy
        export CCACHE_LOGFILE=${{ github.workspace }}/ccache.log.txt
        ccache -z

        export AMREX_PETSC_HOME=${PWD}/petsc-3.18.1/petsc
        cd Tests/LinearSolvers/CellEB
        make -j4 USE_MPI=TRUE USE_PETSC=TRUE DIM=2 TEST=TRUE \
            CCACHE=ccache
        mpiexec -n 2 ./main2d.gnu.TEST.MPI.ex inputs.rt.2d.petsc

        ${{github.workspace}}/Tools/C_scripts/mmclt.py --input ${{github.workspace}}/ccache.log.txt
        make -j4 -k -f clang-tidy-ccache-misses.mak \
            CLANG_TIDY=clang-tidy-14 \
            CLANG_TIDY_ARGS="--config-file=${{github.workspace}}/.clang-tidy --warnings-as-errors=*"

        ccache -s
        du -hs ~/.cache/ccache

  save_pr_number:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Save PR number
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          echo $PR_NUMBER > pr_number.txt
      - uses: actions/upload-artifact@v4
        with:
          name: pr_number
          path: pr_number.txt
          retention-days: 1
