name: SUNDIALS

on: [push, pull_request]

concurrency:
  group: ${{ github.ref }}-${{ github.head_ref }}-sundials
  cancel-in-progress: true

jobs:
  sundials-cpu:
    name: GCC SUNDIALS@6.5.0
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Dependencies
      run: |
        .github/workflows/dependencies/dependencies.sh
        wget -q https://github.com/LLNL/sundials/archive/refs/tags/v6.5.0.tar.gz
        tar xfz v6.5.0.tar.gz
        cd sundials-6.5.0
        mkdir instdir builddir
        cd builddir
        cmake .. \
            -DCMAKE_INSTALL_PREFIX=${PWD}/../instdir \
            -DCMAKE_CXX_STANDARD=17
        make -j2
        make install
        cd ../..
    - name: Compile Test
      run: |
        .github/workflows/dependencies/dependencies_clang-tidy.sh 12
        export CXXFLAGS="-fno-operator-names -Werror -Wall -Wextra -Wpedantic -Wnull-dereference -Wfloat-conversion -Wshadow -Woverloaded-virtual -Wnon-virtual-dtor -Wlogical-op -Wmisleading-indentation -Wduplicated-cond -Wduplicated-branches -Wmissing-include-dirs"
        cmake -S . -B build             \
            -DCMAKE_VERBOSE_MAKEFILE=ON \
            -DUSE_XSDK_DEFAULTS=ON      \
            -DAMReX_SUNDIALS=ON         \
            -DSUNDIALS_ROOT=${PWD}/sundials-6.5.0/instdir \
            -DCMAKE_CXX_STANDARD=17     \
            -DAMReX_CLANG_TIDY=ON
        cmake --build build -j 2

  sundials-cuda:
    name: CUDA SUNDIALS@6.5.0
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Dependencies
      run: |
        .github/workflows/dependencies/dependencies_nvcc12.sh
        # sundials requirement
        sudo apt-get install -y libcusolver-dev-12-0 libcusparse-dev-12-0 libcublas-dev-12-0
        export PATH=/usr/local/nvidia/bin:/usr/local/cuda/bin:${PATH}
        export LD_LIBRARY_PATH=/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda/lib64:${LD_LIBRARY_PATH}
        which nvcc || echo "nvcc not in PATH!"

        wget -q https://github.com/LLNL/sundials/archive/refs/tags/v6.5.0.tar.gz
        tar xfz v6.5.0.tar.gz
        cd sundials-6.5.0
        mkdir instdir builddir
        cd builddir
        cmake ..                                     \
            -DENABLE_CUDA=ON                         \
            -DCMAKE_INSTALL_PREFIX=${PWD}/../instdir \
            -DCMAKE_CUDA_ARCHITECTURES=80            \
            -DCMAKE_CXX_STANDARD=17
        make -j2
        make install
        cd ../..
    - name: Compile Test
      run: |
        export CXXFLAGS="-fno-operator-names -Werror -Wall -Wextra -Wpedantic -Wnull-dereference -Wfloat-conversion -Wshadow -Woverloaded-virtual -Wnon-virtual-dtor -Wlogical-op -Wmisleading-indentation -Wduplicated-cond -Wduplicated-branches -Wmissing-include-dirs"
        export PATH=/usr/local/nvidia/bin:/usr/local/cuda/bin:${PATH}
        export LD_LIBRARY_PATH=/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda/lib64:${LD_LIBRARY_PATH}
        which nvcc || echo "nvcc not in PATH!"

        cmake -S . -B build             \
            -DCMAKE_VERBOSE_MAKEFILE=ON \
            -DUSE_XSDK_DEFAULTS=ON      \
            -DAMReX_GPU_BACKEND=CUDA    \
            -DAMReX_CUDA_ARCH=8.0       \
            -DAMReX_SUNDIALS=ON         \
            -DSUNDIALS_ROOT=${PWD}/sundials-6.5.0/instdir
        cmake --build build -j 2
